name: Compilation Smoke Tests

on:
  workflow_call:
    inputs:
      dd-trace-go-version:
        type: string
        required: true
        default: latest
        description: "dd-trace-go version to go get"
      orchestrion-version:
        type: string
        required: true
        default: latest
        description: "orchestrion version to go get"

  workflow_dispatch:
    inputs:
      dd-trace-go-version:
        type: string
        description: "dd-trace-go version to go get. Empty uses the go.mod one"
        default: latest
      orchestrion-version:
        type: string
        description: "dd-trace-go version to go get. Empty uses the go.mod one"
        default: latest

jobs:
  matrix:
    name: Test matrix
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.json }}
    steps:
      - name: Build
        id: matrix
        run: |-
          versions=$(curl -fSsL "https://golang.org/dl/?mode=json" | jq -r 'map(.version | capture("go(?<version>\\d+\\.\\d+)").version) | unique')
          distribs=$(echo $versions | jq -r 'map([{ golang: ., distrib: "alpine" }, { golang: ., distrib: "debian" }]) | flatten')
          matrix=$(echo $distribs | jq -r '. | map([setpath(["buildenv"]; "base"), setpath(["buildenv"]; "vendoring")]) | flatten')
          echo "json<<EOF" >> "${GITHUB_OUTPUT}"
          echo "${matrix}" >> "${GITHUB_OUTPUT}"
          echo "EOF" >> "${GITHUB_OUTPUT}"
  build:
    name: "Build go-dvwa"
    runs-on: ubuntu-latest
    needs: [matrix]
    strategy:
      fail-fast: false
      matrix:
        include: ${{ fromJson(needs.matrix.outputs.matrix) }}

    steps:
      - uses: actions/checkout@v3
        with:
          repository: DataDog/appsec-go-test-app
      - uses: docker/setup-buildx-action@v2
      - uses: docker/build-push-action@v4
        with:
          context: .
          push: false
          load: true
          tags: go-dvwa
          target: ${{ matrix.distrib }}
          build-args: |
            golang=${{ matrix.golang }}
            buildenv=${{ matrix.buildenv }}
            tracer=${{ inputs.dd-trace-go-version }}
            orchestrion=${{ inputs.orchestrion-version }}
      - name: Test
        run: |
          docker run -p7777:7777 --rm go-dvwa &
          sleep 1
          curl -v --retry 3 --fail 127.0.0.1:7777/
